<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <paths>
    <path key="jquery" value="lib/vendor/jquery/jquery" />
    <path key="jquery-migrate-core" value="lib/vendor/jquery/plugins/jquery-migrate-core" />
    <path key="jquery-ui" value="lib/vendor/jquery/ui/jquery-ui" />
    <path key="jquery-ui-i18n" value="lib/vendor/jquery/ui/jquery-ui-i18n" />
  </paths>
  <shim>
    <dependencies for="jquery-migrate-core" exports="">
      <add dependency="jquery"/>
    </dependencies>
    <dependencies for="jquery-ui" exports="">
        <add dependency="jquery"/>
    </dependencies>
    <dependencies for="jquery-ui-i18n" exports="">
      <add dependency="jquery"/>
      <add dependency="jquery-ui"/>
    </dependencies>
  </shim>
</configuration>
