<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <paths>
    <path key="jquery-mobile" value="lib/vendor/jquery/mobile/jquery.mobile" />
    <path key="jquery-validate" value="lib/vendor/jquery/plugins/validate/jquery.validate" />
    <path key="jquery-validate-unobtrusive" value="lib/vendor/jquery/plugins/validate/jquery.validate.unobtrusive" />
    <path key="amplify" value="lib/vendor/amplify/amplify" />
    <path key="text" value="lib/vendor/requirejs/text" />
  </paths>
  <shim>
    <dependencies for="jquery-mobile" exports="">
      <add dependency="jquery"/>
    </dependencies>
    <dependencies for="jquery-validate" exports="">
      <add dependency="jquery"/>
    </dependencies>
    <dependencies for="jquery-validate-unobtrusive" exports="">
      <add dependency="jquery"/>
      <add dependency="jquery-validate"/>
    </dependencies>
    <dependencies for="amplify" exports="">
      <add dependency="jquery"/>
    </dependencies>
  </shim>
</configuration>
