$mainColor: #45ADA8; /*turquoise*/
$Gray: #dadada;
$darkGray: #585858;
$textGray: #989898;
$textColor: #212121;
$borderColor: #e8e8e8;

/* Custom colors for components */
$Blue: #559ed6;
$Green: #59B390;
$Purple: #703D6F;
$Orange: #F27435;
$Black: #424141;

.input-group {
	width: 100%;
}

label {
	font-size: 16px;
	font-weight: normal;
}
textarea {
	resize: vertical;
}
.required:after {
	content: "*";
	color: #b94a48;	
}
.radio, .checkbox {
	padding-left: 15px;
}
.glyphicon {
	font-size: 12px;
}



/* Errors */
.field-validation-valid {
	display: none;
}
.input-validation-error .select2-choice, 
.has-error .select2-choices {
	border-color: #b94a48!important;
}
.has-error .glyphicon-info-sign {
	display: none;
}
.has-error {
	.select2-offscreen, 
	.select2-offscreen:focus {
		display: none;
	}
	.select2-search-field {
		width: 100%;
		input {
			width: 100% !important;
		}
	}
}

.form_container {
	position: relative;
	clear: both;
	&.loading {
		.form-group {
			height: 66px;
		}
		&:after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: #fff url(../images/preloader.gif) center center no-repeat;
		}
	}
	&.row {
		margin: 0;
	}
}

/* Horizontal form*/
.row > .form_container_horizontal {
	margin: 0 15px;
}

/* Panel group horizontal form */
.row > .panel-group {
	margin: 0 15px;
	.panel-title {	
		.caret {
			margin: -2px 7px 0 3px;
		}
		.loading-spinner {
			background: url(../images/preloader-small.gif) 0 0 no-repeat;
			width: 16px;
			height: 16px;
			margin: 0 7px 0 -5px;
			display: inline-block;
			vertical-align: bottom;
		}
	}
	.panel-body {
		position: relative;
		@media (max-width: 756px) {
			.row {
				margin-right: -10px;
				margin-left: -10px;
			}
		}
		.control-label {
			color: #aaa;
		}		
	}
	@media (max-width: 756px) {
	.pull-right {
			float: right !important;
		}
	}
}

.panel-body {
	dl {
		margin-bottom: 10px;
		clear: both;
		overflow: hidden;
		dt {
			float: left;
			width: 30%;
			overflow: hidden;
			clear: left;
			text-align: right;
			text-overflow: ellipsis;
			white-space: nowrap;
			font-weight: normal;
			color: #aaa;
			padding-right: 10px;
		}
		dd {
			margin-left: 30%;
			word-wrap: break-word;
		}
		&.to-left {
			dt {
				max-width: 70%;
				width: auto;
				white-space: normal;
				text-align: left;
				overflow: visible;
				text-overflow: clip;
			}
			dd {
				margin-left: 5px;
			}
		}
	}
}

/* Avatar view */
.avatar_view {
	border: 1px solid #dddddd;
	display: inline-block;
	padding: 5px;
	.avatar_controls {
		margin-top: 5px;
		.btn {
			padding: 2px 8px;
		}
		.file-upload {
			width: 30px;
			height: 30px;
			position: relative;
		}
		input[type="file"] {
			filter: alpha(opacity=0);
			opacity: 0;
			position: absolute;
			right: 0;
			top: 0;
			font-size: 50px;
			border: 0;
			height: 100%;
			width: 100%;
			overflow: hidden;
		}
	}
}

/* Custom UI*/
.custom_select {
	width: 100% !important;
	font-family: Calibri, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	.select2-choice {
		height: 38px;
		line-height: 38px;
		font-size: 14px;
		border-radius: 0 !important;
		background-image: none;
		border: 1px solid #ccc;
		span {
			white-space: pre-wrap;
		}
		div {
			border-radius: 0 !important;
			width: 24px;
			b {
				background-position: 3px 5px;
			}
		}
	}
	a {
		text-decoration: none !important;
		word-wrap: break-word;
	}
	&.form-control {
		padding: 0;
		border: none;
		+ select.form-control {
			display: none;
		}
	}
	&.select2-container-active {
		.select2-choice,
		.select2-choices {
			border: 1px solid $mainColor;
			outline: none;
			background:#fff;
			-webkit-box-shadow: none;
			   -moz-box-shadow: none;
					box-shadow: none;
		}
	}
}
.select2-drop {
	font-size: 14px;
	border-top: 0;
	border-radius: 0 !important;
	-webkit-box-shadow: none !important;
	   -moz-box-shadow: none !important;
		    box-shadow: none !important;
	&.select2-drop-above {
		border-bottom: 0;
	}
}
.select2-results {
	padding: 0;
	margin-right: 0;
	.select2-highlighted {
		background: $Gray;
		color: #333;
	}
	.select2-result-label, .select2-save, .select2-no-results {
		padding: 5px 8px;
	}

}
.select2-display-none .select2-results {
	margin: 0;
}
.custom_select-multi {
	
	&.form-control {
		padding: 0;
		border: none;
	}
	.select2-choices {
		min-height: 38px;
		background-image: none;
		border: 1px solid #ccc;
		.select2-search-field {			
			input {
				font-family: Calibri, "Helvetica Neue", Helvetica, Arial, sans-serif;
				margin-top: 3px;
				padding: 5px 8px;
				
			}
		}
		.select2-default {
			text-overflow: ellipsis;
		}
		.select2-search-choice {
			background: #fff;
			background-image: none;
			border-radius: 0;
			padding: 5px 5px 5px 18px;
			margin: 6px 0 0 5px;
			.select2-search-choice-close {
				top: 5px;
			}
		}
	}
	&.select2-container-active {
		.select2-choice,
		.select2-choices {
			border: 1px solid $mainColor;
			outline: none;
			background: #fff;
			-webkit-box-shadow: none;
			   -moz-box-shadow: none;
					box-shadow: none;
		}
	}
}


.checkbox_replace {
	.option {
		height: 36px;
		text-decoration: none !important;
		word-wrap: break-word;
		padding: 0 8px;
		border-left: 1px solid #ccc;
		background: #FFF;
		text-decoration: none;
		cursor: pointer;
		display: table-cell;
		width: 1%;
		vertical-align: middle;
		&:first-child {
			border: none;
		}
		&:hover {
			background: #f7f7f7 !important;
		}
		&.selected {
			background: #eee;
			color: darken($mainColor, 10%);
		}
	}
	&:focus {
		outline: none;
	}
	&.form-control {
		padding: 0;
	}
}

/* Autocomplete */

.twitter-typeahead {
	display: block !important;
	font-size: 14px;
	.tt-hint {
		padding: 8px;
		height: 38px;
		width: 100%;
	}
	.tt-dropdown-menu {
		width: 100%;
		margin-top: -1px;
		padding: 4px 0;
		background-color: #FFF;
		border: 1px solid $mainColor;
		border-top: none;
	}
	.tt-suggestion {
		padding: 8px;
		p {
			margin: 0;
		}
		&.tt-is-under-cursor {
			background: $Gray;
		}
	}
}

/* Custom UI END*/

.form-control {
	padding: 8px;
	&:focus {
		box-shadow: none;
		border-color: $mainColor;
	}
	+ .input-group-addon {
		border-left: none;
	}
}

.btn {
	padding: 4px 12px;	
	font-size: 17px;	
	&:focus {
		outline: none;
	}
}
.btn-sm, .btn-xs {
	font-size: 12px;
}

.btn-default {
	color: #fff !important;
	background-color: darken($mainColor, 10%);
	border-color: darken($mainColor, 10%);
	&:hover, &:focus {
		background: $mainColor !important;
		border-color: darken($mainColor, 10%);
		color: #fff !important;
		text-decoration: none;
	}
}

.upload-file { /* File upload button */
	position: relative;
	overflow: hidden;
	padding: 5px 12px 3px;
	input[type="file"] {
		filter: alpha(opacity=0);
		opacity: 0;
		position: absolute;
		right: 0;
		top: 0;
		font-size: 50px;
		outline: none;
	}
}

.reset-container {
	position: relative;
	.delete {
		position: absolute;
		right: 10px;
		background: url(../images/chosen-sprite.png) right 0 no-repeat;
		width: 8px;
		height: 8px;
		border: 0;
		top: 16px;
		text-indent: -9999px;
		display: none;
	}
}

.radio input[type="radio"], 
.radio-inline input[type="radio"], 
.checkbox input[type="checkbox"], 
.checkbox-inline input[type="checkbox"] {
	margin-left: -5px;
	margin-right: 10px;
}

.form-group {
	&.checkbox, &.radio {
		display: table;
		label {
			display: table-cell;
			border: 1px solid transparent;
			padding-left: 15px;
			padding-top: 6px;
			height: 38px;
		}
		&.has-error {			
			label {
				border: 1px solid #b94a48;
			}
		}
	}
}


/* Other color schemes */

/* BLUE*/
.form_container.blue {
	.custom_select.select2-container-active {
		.select2-choice,
		.select2-choices {
			border-color: $Blue;
		}
	}
	
	.custom_select-multi.select2-container-active {
		.select2-choice,
		.select2-choices {
			border-color: $Blue;
		}
	}
	.form-control:focus,
	.twitter-typeahead	.tt-dropdown-menu {
		border-color: $Blue !important;
	}
	.btn-default {
		background: darken($Blue, 10%);		
		border-color: darken($Blue, 10%);
		&:hover, &:focus {
			background: $Blue !important;		
		}
	}
}

/* GREEN*/
.form_container.green {
	.custom_select.select2-container-active {
		.select2-choice,
		.select2-choices {
			border-color: $Green;
		}
	}
	
	.custom_select-multi.select2-container-active {
		.select2-choice,
		.select2-choices {
			border-color: $Green;
		}
	}
	.form-control:focus,
	.twitter-typeahead	.tt-dropdown-menu {
		border-color: $Green !important;
	}
	
	.btn-default {
		background: darken($Green, 10%);
		border-color: darken($Green, 10%);
		&:hover, &:focus {
			background: $Green !important;
		}
	}
}

/* PURPLE*/
.form_container.purple {
	.custom_select.select2-container-active {
		.select2-choice,
		.select2-choices {
			border-color: $Purple;
		}
	}
	
	.custom_select-multi.select2-container-active {
		.select2-choice,
		.select2-choices {
			border-color: $Purple;
		}
	}
	.form-control:focus,
	.twitter-typeahead	.tt-dropdown-menu {
		border-color: $Purple !important;
	}
	
	.btn-default {
		background: darken($Purple, 10%);
		border-color: darken($Purple, 10%);
		&:hover, &:focus {
			background: $Purple !important;
		}
	}
}

/* ORANGE*/
.form_container.orange {
	.custom_select.select2-container-active {
		.select2-choice,
		.select2-choices {
			border-color: $Orange;
		}
	}
	
	.custom_select-multi.select2-container-active {
		.select2-choice,
		.select2-choices {
			border-color: $Orange;
		}
	}
	.form-control:focus,
	.twitter-typeahead	.tt-dropdown-menu {
		border-color: $Orange !important;
	}
	
	.btn-default {
		background: darken($Orange, 10%);
		border-color: darken($Orange, 10%);
		&:hover, &:focus {
			background: $Orange !important;	
		}
	}
}

/* almost BLACK*/
.form_container.black {
	.custom_select.select2-container-active {
		.select2-choice,
		.select2-choices {
			border-color: $Black;
		}
	}
	
	.custom_select-multi.select2-container-active {
		.select2-choice,
		.select2-choices {
			border-color: $Black;
		}
	}
	.form-control:focus,
	.twitter-typeahead	.tt-dropdown-menu {
		border-color: $Black !important;
	}
	
	.btn-default {
		background: darken($Black, 10%);
		border-color: darken($Black, 10%);
		&:hover, &:focus {
			background: $Black !important;		
		}
	}
}

@media (max-width: 756px) {
	.col-12 {
		padding: 0;
	}
}

@media (min-width: 768px) { /* fixes for 2 cols */
	
	.form-group.checkbox,
    .form-group.radio	{
		padding-top: 28px;
		margin: 0 0 15px;
	}
	.col-lg-12,
	.col-sm-12 {  /* Normal distance for a single column layout */
		&.checkbox,
		&.radio {
			padding-top: 0;
		}
	}

}


