<?xml version="1.0" encoding="utf-8" ?>
<!--
  For more information on how to configure RequireJS.NET, please visit
  https://github.com/stefanprodan/RequireJSDotNet
  -->
<configuration>
  <bundles>
    <bundle name="componentsPack" outputPath="js\components.js" includes="components">
    </bundle>

    <bundle name="widgetsPack" outputPath="js\widgets.js" includes="widgets">
    </bundle>

    <bundle name="pluginsPack" outputPath="js\plugins.js" includes="plugins">
    </bundle>
  </bundles>
  <paths>

    <!-- Frameworks -->
    <path key="jquery" value="bforms/components/jquery/jquery" bundle="components" />
    <path key="jquery-migrate" value="bforms/components/jquery/jquery-migrate" bundle="components" />
    <path key="bootstrap" value="bforms/components/bootstrap/js/bootstrap" bundle="components" />
    <path key="jquery-ui-core" value="bforms/components/jquery-ui/jquery-ui.core" bundle="components" />
    <path key="amplify" value="bforms/components/amplify/amplify" bundle="components" />
    <path key="icanhaz" value="bforms/components/icanhaz/icanhaz" bundle="components" />
    <path key="singleton-ich" value="bforms/components/icanhaz/singleton-ich" bundle="components" />
    <path key="history-js" value="bforms/components/historyjs/jquery.history" bundle="components" />
    <path key="selector-set" value="bforms/components/selectorset/selector-set" bundle="components" />
    <path key="jquery.selector-set" value="bforms/components/selectorset/jquery.selector-set" bundle="components" />

    <path key="gremlins" value="bforms/components/gremlins/gremlins.min"/>

    <!-- Placeholder shim -->
    <path key="placeholder-shim" value="bforms/components/placeholdershim/jquery.html5-placeholder-shim" bundle="components" />

    <!-- Validate -->
    <path key="bforms-validate" value="bforms/plugins/validation/bforms.validate" bundle="plugins" />
    <path key="bforms-validate-unobtrusive" value="bforms/plugins/validation/bforms.validate.unobtrusive" bundle="plugins" />

    <!-- DateTime picker -->
    <path key="bforms-datepicker" value="bforms/plugins/datepicker/js/bforms.datepicker" bundle="plugins" />
    <path key="bforms-datepicker-tmpl" value="bforms/plugins/datepicker/js/bforms.datepicker.tmpl" bundle="plugins" />
    <path key="bforms-datepicker-range" value="bforms/plugins/datepicker/js/bforms.datepicker.range" bundle="plugins" />
    <path key="bforms-datepicker-i18n" value="bforms/plugins/datepicker/js/i18n/lang.bundle" bundle="plugins" />

    <!-- DateTime picker frameworks -->
    <path key="moment" value="bforms/plugins/datepicker/js/lib/moment" bundle="plugins" />
    <path key="moment-calendar" value="bforms/plugins/datepicker/js/lib/moment.isocalendar" bundle="plugins" />
    
    <!--Image fileupload control-->
    <path key="bforms-fileupload" value="bforms/widgets/fileupload/bforms.fileUpload" bundle="widgets" />
    
    <!-- FileUpload frameworks -->
    <path key="jquery-fileupload" value="bforms/components/FileUpload/jquery.fileupload" bundle="components"/>
    <path key="jquery-iframe-transport" value="bforms/components/FileUpload/jquery.iframe-transport" bundle="components"/>
    <path key="jquery.fileupload-validate" value="bforms/components/FileUpload/jquery.fileupload-validate" bundle="components"/>
    <path key="jquery.fileupload-process" value="bforms/components/FileUpload/jquery.fileupload-process" bundle="components"/>
    
    <!-- NestedSortable -->
    <path key="nestedsortable" value="bforms/components/NestedSortable/jquery.mjs.nestedSortable" bundle="components"/>
    
    <!-- Range picker -->
    <path key="bforms-rangepicker" value="bforms/plugins/rangepicker/js/bforms.rangepicker" bundle="plugins" />
    
    <!-- Radio & Checkbox lists -->
    <path key="bforms-radiolist" value="bforms/plugins/radioButtonList/bforms.radiolist" bundle="plugins" />
    <path key="bforms-checklist" value="bforms/plugins/checkBoxList/bforms.checklist" bundle="plugins" />

    <!-- Nav scroll -->
    <path key="bforms-navscroll" value="bforms/plugins/navscroll/bforms.navscroll" bundle="plugins" />

    <!-- Select2 -->
    <path key="select2" value="bforms/plugins/select2/js/select2" bundle="plugins" />
    <path key="bforms-select2" value="bforms/plugins/select2/js/bforms.select2" bundle="plugins" />

    <!-- Typeahead -->
    <path key="typeahead" value="bforms/plugins/typeahead/typeahead" bundle="plugins" />
    <path key="bforms-typeahead" value="bforms/plugins/typeahead/bforms.typeahead" bundle="plugins" />

    <!-- UI -->
    <path key="bforms-initUI" value="bforms/plugins/UI/bforms.initui" bundle="plugins" />
    <path key="bforms-resetInput" value="bforms/plugins/UI/bforms.resetInput" bundle="plugins" />
    <path key="bforms-extensions" value="bforms/plugins/UI/bforms.extensions" bundle="plugins" />

    <!-- BsPopover -->
    <path key="bforms-inlineQuestion" value="bforms/widgets/inlinequestion/bforms.inlinequestion" bundle="widgets" />

    <!-- BsSortable -->
    <path key="bforms-sortable" value="bforms/widgets/sortable/bforms.sortable" bundle="widgets" />
    
    <!-- BsTaglist-->
    <path key="bforms-taglist" value="bforms/widgets/taglist/bforms.taglist" bundle="widgets" />
    
    <!-- Grid -->
    <path key="bforms-grid" value="bforms/widgets/grid/js/bforms.grid" bundle="widgets" />
    <path key="bforms-toolbar" value="bforms/widgets/grid/js/bforms.toolbar" bundle="widgets" />
    <path key="bforms-pager" value="bforms/widgets/grid/js/bforms.pager" bundle="widgets" />
    <path key="bforms-editable" value="bforms/widgets/grid/js/bforms.editable" bundle="widgets" />
    <path key="bforms-form" value="bforms/widgets/grid/js/bforms.form" bundle="widgets" />  
    
    <!-- Toolbar controls -->
    <path key="bforms-toolbar-advancedSearch" value="bforms/widgets/grid/js/bforms.toolbar.advancedSearch" bundle="widgets" />
    <path key="bforms-toolbar-add" value="bforms/widgets/grid/js/bforms.toolbar.add" bundle="widgets" />
    <path key="bforms-toolbar-quickSearch" value="bforms/widgets/grid/js/bforms.toolbar.quickSearch" bundle="widgets" />
    <path key="bforms-toolbar-order" value="bforms/widgets/grid/js/bforms.toolbar.order" bundle="widgets" />

    <!-- Group Editor -->
    <path key="bforms-groupEditor" value="bforms/widgets/groupeditor/bforms.groupEditor" bundle="widgets" />

    <!-- Theme select -->
    <path key="bforms-themeSelect" value="bforms/widgets/utils/bforms.themeSelect" bundle="widgets" />

    <!-- Box form -->
    <path key="bforms-panel" value="bforms/widgets/Panel/bforms.panel" bundle="widgets" />    
    
    <!-- Utils -->
    <path key="bforms-ajax" value="bforms/widgets/utils/bforms.ajax" bundle="widgets" />
    <path key="bforms-namespace" value="bforms/widgets/utils/bforms.namespace" bundle="widgets" />

    <!-- i18n -->
    <path key="validate-ro" value="bforms/plugins/validation/i18n/bforms.validate-ro" bundle="plugins" />
    <path key="select2-ro" value="bforms/plugins/select2/js/i18n/select2-ro" bundle="plugins" />

    <!-- RequireJs plugins -->
    <path key="depend" value="bforms/components/requirejs/depend" />
    <path key="i18n" value="bforms/components/requirejs/i18n" />
    <path key="text" value="bforms/components/requirejs/text" />
  </paths>
  <shim>
  </shim>
</configuration>