<?xml version="1.0" encoding="utf-8" ?>
<!--
  For more information on how to configure RequireJS.NET, please visit
  https://github.com/stefanprodan/RequireJSDotNet
  -->
<configuration>
  <paths>

    <!-- Frameworks -->
    <path key="jquery" value="bforms/bundles/js/components" />
    <path key="jquery-migrate" value="bforms/bundles/js/components"/>
    <path key="bootstrap" value="bforms/bundles/js/components" />
    <path key="jquery-ui-core" value="bforms/bundles/js/components"/>
    <path key="amplify" value="bforms/bundles/js/components" />
    <path key="icanhaz" value="bforms/bundles/js/components" />
    <path key="singleton-ich" value="bforms/bundles/js/components" />
    <path key="history-js" value="bforms/bundles/js/components" />
    <path key="selector-set" value="bforms/bundles/js/components"  />
    <path key="jquery.selector-set" value="bforms/bundles/js/components" />

    <!-- Placeholder shim -->
    <path key="placeholder-shim" value="bforms/bundles/js/components" />

    <!-- Validate -->
    <path key="bforms-validate" value="bforms/bundles/js/plugins" />
    <path key="bforms-validate-unobtrusive" value="bforms/bundles/js/plugins" />

    <!-- DateTime picker -->
    <path key="bforms-datepicker" value="bforms/bundles/js/plugins" />
    <path key="bforms-datepicker-tmpl" value="bforms/bundles/js/plugins" />
    <path key="bforms-datepicker-range" value="bforms/bundles/js/plugins" />
    <path key="bforms-datepicker-i18n" value="bforms/bundles/js/plugins" />

    <!-- DateTime picker frameworks -->
    <path key="moment" value="bforms/bundles/js/plugins" />
    <path key="moment-calendar" value="bforms/bundles/js/plugins" />

    <!--Image fileupload control-->
    <path key="bforms-fileupload" value="bforms/bundles/js/widgets" />

    <!-- FileUpload frameworks -->
    <path key="jquery-fileupload" value="bforms/bundles/js/components"/>
    <path key="jquery-iframe-transport" value="bforms/bundles/js/components"/>
    <path key="jquery.fileupload-validate" value="bforms/bundles/js/components"/>
    <path key="jquery.fileupload-process" value="bforms/bundles/js/components"/>

    <!-- Nested sortable -->
    <path key="nestedsortable" value="bforms/bundles/js/components"/>

    <!-- Range picker -->
    <path key="bforms-rangepicker" value="bforms/bundles/js/plugins" />
    
    <!-- Radio & Checkbox lists -->
    <path key="bforms-radiolist" value="bforms/bundles/js/plugins" />
    <path key="bforms-checklist" value="bforms/bundles/js/plugins" />

    <!-- Nav scroll -->
    <path key="bforms-navscroll" value="bforms/bundles/js/plugins" />

    <!-- Select2 -->
    <path key="select2" value="bforms/bundles/js/plugins" />
    <path key="bforms-select2" value="bforms/bundles/js/plugins" />

    <!-- Typeahead -->
    <path key="typeahead" value="bforms/bundles/js/plugins" />
    <path key="bforms-typeahead" value="bforms/bundles/js/plugins" />

    <!-- UI -->
    <path key="bforms-initUI" value="bforms/bundles/js/plugins" />
    <path key="bforms-resetInput" value="bforms/bundles/js/plugins" />
    <path key="bforms-extensions" value="bforms/bundles/js/plugins" />

    <!-- Grid -->
    <path key="bforms-grid" value="bforms/bundles/js/widgets" />
    <path key="bforms-toolbar" value="bforms/bundles/js/widgets" />
    <path key="bforms-pager" value="bforms/bundles/js/widgets" />
    <path key="bforms-editable" value="bforms/bundles/js/widgets" />
    <path key="bforms-form" value="bforms/bundles/js/widgets" />

    <!-- Group Editor -->
    <path key="bforms-groupEditor" value="bforms/bundles/js/widgets" />

    <!-- Toolbar controls -->
    <path key="bforms-toolbar-advancedSearch" value="bforms/bundles/js/widgets" />
    <path key="bforms-toolbar-add" value="bforms/bundles/js/widgets" />
    <path key="bforms-toolbar-quickSearch" value="bforms/bundles/js/widgets" />
    <path key="bforms-toolbar-order" value="bforms/bundles/js/widgets" />

    <!--Theme select-->
    <path key="bforms-themeSelect" value="bforms/bundles/js/widgets" />

    <!-- Box form -->
    <path key="bforms-panel" value="bforms/bundles/js/widgets" />

    <!-- BsPopover -->
    <path key="bforms-inlineQuestion" value="bforms/bundles/js/widgets" />

    <!-- BsSortable -->
    <path key="bforms-sortable" value="bforms/bundles/js/widgets" />

    <!-- BsTaglist-->
    <path key="bforms-taglist" value="bforms/bundles/js/widgets" />

    <!-- Utils -->
    <path key="bforms-ajax" value="bforms/bundles/js/widgets" />
    <path key="bforms-namespace" value="bforms/bundles/js/widgets" />

    <!-- i18n -->
    <path key="validate-ro" value="bforms/bundles/js/plugins" />
    <path key="select2-ro" value="bforms/bundles/js/plugins" />

    <!-- RequireJs plugins -->
    <path key="depend" value="bforms/components/requirejs/depend" />
    <path key="i18n" value="bforms/components/requirejs/i18n" />
    <path key="text" value="forms/components/requirejs/text" />

  </paths>
  <shim>
  </shim>
</configuration>