@using System.Activities.Expressions
@using RequireJsNet
@{
    ViewBag.Title = "RequireJS for .NET";

    //Add RequireJS Page options directly from view via ViewBag
    RequireJsOptions.Add("newViewOpt", "test");
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>RequireJS </h1>
                <h2>configuration and usage demo</h2>
            </hgroup>
            <p>
                Please read the <a href="http://www.stefanprodan.eu/tag/requirejs/">documentation</a> to get started.
                This template contains the following <mark>JavaScript</mark> components: Amplify, jQuery, jQuery UI, 
                jQuery Mobile, jQuery Validate, Validate Unobtrusive, HTML5 Shiv, Modernizr, RespondJs, Selectivizr.
            </p>
            <hgroup class="title">
                <h1>Keep Alive Service</h1>
                <h2>for the demo @Html.ActionLink("click here", "Inbox")</h2>
            </hgroup>
        </div>
    </section>
}
<h3>Loading js components...</h3>
<ol class="round">
    <li class="one" style="display:none;">
        <h5>Entry point</h5>
        require.js scans home-index.js for dependencies 
    </li>

    <li class="two" style="display:none;">
        <h5>Dependencies detection and loading</h5>
        jquery.js, amplify.js, app-helpers,js, app-utils.js, app-global.js and  <a href="#" class="js-openDeps">more</a>
    </li>

    <li class="three" style="display:none;">
        <h5>Object instantiation</h5>
        app-global.js & root/home/index.js
    </li>
</ol>

<div class="js-depsPopup" title="Dependencies" style="display:none;">
	<p>jquery.js, amplify.js, jquery.validate.js, jquery.validate.unobtrusive.js, jquery-ui.js, app-helpers,js, app-utils.js, app-global.js</p>
</div>
