$Gray: #dadada;
$darkGray: #585858;
$textGray: #989898;
$textColor: #212121;
$borderColor: #e8e8e8;

.group_editor {
	margin-bottom: 20px;
	display: table;
	border-collapse: collapse;
	width: 100%;
	position:relative;
	> div {
		display: table-cell;
		width: 50%;
		border: 1px solid $borderColor;
		vertical-align: top;
		position: relative;
		padding-bottom: 70px;
	}
	.row {
		margin: 0;
	}
	hr {
		margin: 10px 0;
	}
	.navbar-default {
		border: none;
		margin: 5px 5px 0;
		.navbar-collapse {
			background: #fff;
		}
		.group_editor-navbar{
			padding-left:0px;
		}
		.active a {
			background: #eee !important;
		}
	}

	.search {
		padding: 10px 0;
		margin-bottom: 10px;
		background: #eee ;
		.btn {
			padding: 6px 12px;
		}
		&.inline {
			> .input-group {
				padding: 0 15px;
			}
		}
		h3 {
			font-size: 17px;
			padding: 9px 0;
			margin: 0 15px 8px;
			border-bottom: 1px solid $borderColor;
		}
		.form_container {
			margin-top: 10px;
		}
		
		+ .btn {
			margin: 0 10px 10px 0;
		}
	}

	.grids_header_submit {
		padding: 5px 10px 0;
	}
	dl {
		dt {
			float: left;
			width: 30%;
			overflow: hidden;
			clear: left;
			text-align: right;
			text-overflow: ellipsis;
			white-space: nowrap;
			font-weight: normal;
			color: #aaa;
		}
		dd {
			margin-left: 30%;
			word-wrap: break-word;
		}
		&.to-left {
			dt {
				width: auto;
				text-align: left;
			}
			dd {
				margin-left: 5px;
				float: left;
			}
		}
	}	
	.profile {
		img {
			max-width: 64px;
			border: 1px solid $borderColor;
		}
		dl {
			margin-top: 0;
		}
		&.large {
			border: 1px solid $borderColor;
			padding: 5px;
			margin-bottom: 5px;
			.users {
				margin-bottom: 0;
				li {
					border: none;
					padding: 0;
				}
			}
		}
	}
	.group_profiles {
		padding: 0 10px;
		list-style: none;
		position: relative;
		li {
			clear: both;
			> .btn {
				margin-bottom: 5px;
			}
			&.disabled {
				opacity: 0.5;
				filter: alpha(opacity=50);
			}
		}
		.select_profile {
			float: right;
		}
		.selected {
			.profile.large {
				border: 1px solid #A3E473;
			}
			.glyphicon {
				color: #77BD43;
			}
		}
		
	}
	.bs-pager, .counter {
		padding: 0 10px;
		border-top: 1px solid $borderColor;
		position: absolute;
		bottom: 0;
		width: 100%;
	}
	.bs-pager > div {
		margin: 10px 0;
	}
	.counter {
		padding: 9px 0;
	}
	.title {
		background: #eee;
		margin-bottom: 5px !important;
	}
	.grid_view {
		padding: 10px;
		.grid_rows {
			.expand {
				position: relative;
				display: inline-block;
				top: 0;
				left: 0;
			}
			.grid_rows_wrapper {
				border: none;
				.grid_row {
					min-height: 10px;
					padding: 5px 0;
					margin: 0 0 5px;
					background: #fff !important;
					border: 1px solid $borderColor;
					&:hover {
						border: 1px solid #c3c3c3;
					}
					header {
						padding: 0;					
					}				
					> .form_container {
						padding: 0 10px;
					}
				}
				.grid_row_details h3 {
					margin-top: 0;
					&:hover {
						border-color: #eee !important;
					}
				}
			}
		}
		.controls .glyphicon {
			vertical-align: text-top;
		}

	}
}

@media (max-width: 959px) { 
	.group_editor {
		display: block;
		> div {
			display: block;
			width: 100%;
			padding: 0;
			margin-bottom: 5px;
			.bs-pager, .counter {
				position: relative;
			}
		}
	}
}