@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>RequireJS for .NET</h2>
</hgroup>

<article>
    <p>
        <mark>RequireJS is an implementation of Asynchronous Module Definition (AMD) that provides all the tools you 
        need to write modular JavaScript. If you are working on a large project with lots of JavaScript code, 
        many external components and frameworks, RequireJS will help you manage the complexity of dependencies in your project.</mark>
    </p>
    <p>
        Advantages of using RequireJS with Asp.Net MVC
    </p>
    <ul>
        <li>better JavaScript code reusability</li>
        <li>reliable object and dependency management</li>
        <li>suitable for large and complex applications</li>
        <li>loads JS and CSS files asynchronously</li>
    </ul>
    <p>
        The .NET implementation has the following features
    </p>
    <ul>
        <li>JavaScript file structure integrated with the MVC structure </li>
        <li>dependencies declaration and module path configuration using xml </li>
        <li>JavaScript code-behind for each Razor view </li>
        <li>communication from the server-side controller (c#) to js modules using .NET </li>
        <li>application wide JavaScript controller </li>
        <li>Ajax requests management </li>
    </ul>
</article>

<aside>
    <h3>Source code</h3>
    <p>
        Version <strong>1.0.0.1</strong> 
    </p>
    <p>
        Release date <strong>10 June 2013</strong>
    </p>
    <p>
        <a href="http://www.stefanprodan.eu/tag/requirejs/">Check for new version</a>
    </p>
</aside>