@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>You can reach me at</h2>
</hgroup>

<section class="contact">
    <p>
        <span class="label">My Blog:</span>
        <span><a href="http://www.stefanprodan.eu/">stefanprodan.eu</a></span>
    </p>
    <p>
        <span class="label">Google+:</span>
        <span><a href="https://plus.google.com/u/0/113981158023585533265/posts">stefan.prodan</a></span>
    </p>
    <p>
        <span class="label">Twitter:</span>
        <span><a href="https://twitter.com/stefanprodan">&#64;stefanprodan</a></span>
    </p>
</section>