@{
    ViewBag.Title = "Contact";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Keep Alive Service </h1>
                <h2>RequireJS Module</h2>
            </hgroup>
            <p>
                Please read the <a href="http://www.stefanprodan.eu/tag/requirejs/">documentation</a> to get started.
                This Module uses the following <mark>JavaScript</mark> components: Amplify, jQuery.
            </p>
        </div>
    </section>
}
<section class="contact">
    <h3>Checking for new messages every 3 seconds, on the server, the request processing takes 2 seconds</h3>
    <p><a id="togglePing" href="#">Stop</a> service and open the console to see the logs</p>
    <ol class="round">
        <li id="counter">
            wait for it...
        </li>
    </ol>
</section>