<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <paths>
    <path key="jquery" value="jquery-1.10.2" />
    <path key="bootstrap" value="bootstrap" />
    <path key="respond" value="respond" bundle="respond" />
  </paths>
  <bundles>
    <bundle name="jquery" virtual="true">
      <bundleItem path="jquery" />
    </bundle>
    
    <bundle name="main" outputPath="Bundles\">
      <bundleItem path="jquery" />
      <bundleItem path="bootstrap" />
    </bundle>
    
    <bundle name="mainExplicit" outputPath="Bundles\main.min.js">
      <bundleItem path="jquery" />
      <bundleItem path="bootstrap" />
    </bundle>
    
    <bundle name="withoutPath">
      <bundleItem path="jquery" />
    </bundle>
    
    <bundle name="empty">
    </bundle>
  
    <bundle name="jqueryForInclude" virtual="true" outputPath="Bundles\WithIncludes\">
      <bundleItem path="jquery" />
    </bundle>
  
    <bundle name="bootstrapForInclude" outputPath="Bundles\WithIncludes\">
      <bundleItem path="bootstrap" />
    </bundle>
    
  <bundle name="mainArea" outputPath="Bundles\WithIncludes\" includes="bootstrapForInclude, jqueryForInclude">
    <bundleItem path="controllers/root/home/index" />
  </bundle>
    
  <bundle name="defaultBundleTest" outputPath="Bundles\WithDefault\" includes="respond">
    <bundleItem path="controllers\root\home\index" />
  </bundle>

  </bundles>
</configuration>