<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <paths>
    <path key="jquery" value="jquery-1.10.2"/>
    <path key="bootstrap" value="bootstrap"/>
  </paths>
  <bundles>
    <bundle name="jquery" virtual="true">
      <bundleItem path="jquery" />
    </bundle>
    <bundle name="main" virtual="false">
      <bundleItem path="jquery" />
      <bundleItem path="bootstrap" />
    </bundle>
  </bundles>
</configuration>